* {
  border: none;
  font-family: "JetBrains Mono";
  font-weight: bold;
  min-height: 5px;
  color: #ebdbb2;
}

window#waybar {
  background: rgba(17, 17, 17, 0.6); /* 0.5 — степень прозрачности (от 0 до 1) */
}

/* Workspace Buttons */

#workspaces {

}

#workspaces button {
  padding: 3 6px;
  margin: 2;
  color: #ebdbb2;
  border-radius: 5px;
}

#workspaces button label{
  color: #ebdbb2;
}
#workspaces button.active label {
  color: #1d2021;
}
#workspaces button.active {
  background: #a89984;
}

#custom-play {
  margin: 0;
  color: #0fcc33;
}

#cpuinfo, #memory{
  padding: 0 10px;
  margin: 0 10px;
}

#tray {
  background-color: rgba(60, 70, 50, 0.4);
  margin: 0;
  color: #d65d0e;
  padding: 0 10px;
  border-radius: 5px 5px 5px 5px;
  margin: 4px 0; /* Убираем боковые отступы, чтобы они слиплись */
}

#language {
    border-radius: 0 5px 5px 0;
}

/* Общие свойства для всех элементов группы */
#pulseaudio, #backlight, #battery, #clock {
  background-color: rgba(60, 70, 50, 0.3);
  padding: 0 10px;
  margin: 4px 0; /* Убираем боковые отступы, чтобы они слиплись */
}

#battery {
  color: #458588;
}

/* Скругление только слева у первого модуля (например, Звук) */
#pulseaudio {
  border-radius: 5px 0 0 5px;
  margin-left: 5px;
  color: #689d6a;
}

#pulseaudio.muted {
  color: #cc241d;
}

/* Скругление только справа у последнего модуля (например, Часы) */
#clock {
  border-radius: 0 5px 5px 0;
  margin-right: 5px;
  color: #b16286;
}
