* {
  border: none;
  font-family: "JetBrains Mono";
  font-weight: bold;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  background: rgba(17, 17, 17, 0.5); /* 0.5 — степень прозрачности (от 0 до 1) */
}

/* Workspace Buttons */
 
#workspaces button {
  padding: 3 6px;
  margin: 2;
  color: #ebdbb2;
  border-radius: 5px;
}

#workspaces button label{
  color: #ebdbb2;
}
#workspaces button.active label {
  color: #1d2021;
}
#workspaces button.active {
  background: #a89984;
}

#custom-play {
  margin: 0;
  color: #0fcc33;
}

#backlight, #cpuinfo, #memory, #battery, #tray, #language, #custom-play{
  padding: 0 4px;
  margin: 0 6px;
}

#language {
  margin: 0;
  color: #d79921;
}

#pulseaudio {
  margin: 0;
  color: #689d6a;
}

#pulseaudio.muted {
  color: #cc241d;
}

#battery {
  margin: 0;
  color: #458588;
}

#clock {
  margin: 0;
  padding: 1px 5px;
  color: #b16286;
}

#tray {
  margin: 0;
  color: #d65d0e;
}
